{% extends "base.html" %}


{% block app_container %}
	<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/campaigns">Campaigns</a></li>
            <li class="active"><a href="/settings">Settings</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Settings</h1>
          <a href="/settings/rotator/" class="btn btn-link" role="button">Rotator settings</a>
		  <a href="/settings/party_keys/" class="btn btn-link" disabled="disabled" role="button">3rd party keys</a>
          <form action="/settings/save_settings/" method="POST">{% csrf_token %}
	          <div class="table-responsive">
	            <table class="table table-striped">
	              <tbody>
	                <tr>
	                  <td>do</td>
	                  <td><input type="number" min="0" name="do_key" size="20" value="{{ user_info.do_key }}"></td>
	                </tr>
	                <tr>
	                  <td>vu</td>
	                  <td><input type="number" min="0" name="vu_key" size="20" value="{{ user_info.vu_key }}"></td>
	                </tr>
	                <tr>
	                  <td>rc</td>
	                  <td><input type="number" min="0" name="rc_key" size="20" value="{{ user_info.rc_key }}"></td>
	                </tr>
	                <tr>
	                  <td>nc</td>
	                  <td><input type="number" min="0" name="nc_key" size="20" value="{{ user_info.nc_key }}"></td>
	                </tr>
	                <tr>
	                  <td>fn</td>
	                  <td><input type="number" min="0" name="fn_key" size="20" value="{{ user_info.fn_key }}"></td>
	                </tr>
	              </tbody>
	            </table>
	          </div>
	      <button class="btn btn-primary" type="submit">Save</button>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
{% block navbar_collapse %}
<li><a href="/login">Logout ({{ user_info.user }})</a></li>
{% endblock %}
